.estudio-grid-header{
    grid-template-rows: 65% 35%;
}

.contactar-estudio-header{
    grid-template-rows: 20% 80%;
}

.estudio-btn{
    @apply bg-gray-600 px-5 py-2 block m-auto rounded-md shadow-lg font-semibold text-sm
    text-white  w-full hover:text-white hover:bg-gray-800 
}

.contacto-link{
    background-color: white;
   
    
}

.estudio-header{
    margin-top: 2rem;
}

