@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply bg-gray-600 px-5 py-2 rounded-md shadow-lg font-semibold text-sm border-2 border-gray-600
    text-white inline-block w-full hover:text-white hover:bg-gray-800 focus:outline-none
    focus:ring focus:ring-offset-2 focus:ring-gray-800 focus:ring-opacity-50 active:bg-gray-900
}
.btn-black{
    @apply bg-white px-5 py-2 rounded-md shadow-lg font-semibold text-sm border-2 border-gray-600
    text-gray-600 inline-block w-full hover:text-white hover:bg-gray-800 focus:outline-none
    focus:ring focus:ring-offset-2 focus:ring-gray-800 focus:ring-opacity-50 active:bg-gray-900
}

.input{
    @apply py-1 px-3 border-2 border-gray-500 rounded-md shadow-sm 
}






.contenedor{
    margin: 0 auto;
    width: 90%;
    max-width: 120rem;
}



.social{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    margin: 0 10px;
    /* background-color: black; */
    border-radius: 5px;
}

.social-link.twitter{
    background-image: url('../src/assets/twitter.svg');
    
}

.social-link.facebook{
    background-image: url('../src/assets/facebook.svg');

}

.social-link.instagram{
    background-image: url('../src/assets/instagram.svg');
    
}

.social-link.github{
    background-image: url('../src/assets/github.svg');
    
}

